<h4>DAGs Code Editor - {{ path }}</h4>

<div class="panel panel-primary">
	<div class="panel-heading">
        <h4 class="panel-title">Code Editor</h4>
	</div>

    <form id="editor_form" action="" method="post" enctype="multipart/form-data">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
{% if code != None %}
        <div class="table-responsive">
            <table class="table table-bordered">
				<tbody>
				  <tr>
					<td class="col-lg-1">
                        <textarea rows="30" cols="80" id="code" name="code" style="display: none">{{ code|safe }}</textarea>
                    </td>
				  </tr>
                </tbody>
            </table>
        </div>
{% endif %}
        <div class="well well-sm">
{% if code != None %}
            <button type="submit" class="btn btn-primary">Save <i class="fa fa-save"></i></button>
{% endif %}
            <a href="/code_editor/editor/{{ path }}" class="btn btn-danger" role="button">Revert</a>
        </div>
    </form>
</div>
