<script src="{{ url_for('static', filename='editor/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='editor/mode/python/python.js') }}"></script>
<script src="{{ url_for('static', filename='editor/addon/fold/foldcode.js') }}"></script>
<script src="{{ url_for('static', filename='editor/addon/fold/foldgutter.js') }}"></script>
<script src="{{ url_for('static', filename='editor/addon/fold/indent-fold.js') }}"></script>
<script src="{{ url_for('static', filename='editor/addon/fold/comment-fold.js') }}"></script>
<script src="{{ url_for('static', filename='editor/editor.js') }}"></script>
