<h2>DAGs Code Editor</h2>

<!-- Error modal dialog -->
<div class="modal fade" id="error-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Error</h4>
            </div>
            <pre class="modal-body alert alert-danger"></pre>
        </div>
    </div>
</div>

