<script src="{{ url_for('static', filename='code_editor/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/mode/python/python.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/addon/fold/foldcode.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/addon/fold/foldgutter.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/addon/fold/indent-fold.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/addon/fold/comment-fold.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/addon/mode/loadmode.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/addon/dialog/dialog.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/addon/search/searchcursor.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/addon/search/search.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/addon/search/jump-to-line.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/mode/meta.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/gitweb.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/bootstrap-dialog.js') }}"></script>
<script type="text/javascript">

jQuery(document).ready(function() {
    var csrfToken = "{{ csrf_token() }}";
    jQuery.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrfToken);
            }
        }
    });
    window.main = new MainUi(csrfToken);
    CodeMirror.modeURL = '/static/code_editor/mode/%N/%N.js';
    // Disable animation
    BootstrapDialog.configDefaultOptions({ animate: false });
});

</script>
