<!-- Error modal dialog -->
<div class="modal fade" id="session-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Settings</h4>
            </div>
            <div class="modal-body">
{% raw %}
<div id="settings-app" class="container">

<span style="min-width: 8em; display: inline-block">Theme:</span>
<select v-model="theme">
    <option v-for="theme in themes">
        {{ theme }}
    </option>
</select>
<br/>

<span style="min-width: 8em; display: inline-block">Mode:</span>
<select v-model="mode">
    <option selected>default</option>
    <option>emacs</option>
    <option>sublime</option>
    <option>vim</option>
</select>

</div>
<hr/>
{% endraw %}
            </div>
        </div>
    </div>
</div>

