<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='code_editor/css/gitweb.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='code_editor/css/codemirror.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='code_editor/addon/fold/foldgutter.css') }}" />
<script src="{{ url_for('static', filename='code_editor/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/mode/python/python.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/addon/fold/foldcode.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/addon/fold/foldgutter.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/addon/fold/indent-fold.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/addon/fold/comment-fold.js') }}"></script>
<script src="{{ url_for('static', filename='code_editor/gitweb.js') }}"></script>
<style>
.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}
</style>
