name: Tests

on:
  push:
  pull_request:

jobs:
  tests:
    name: Run tests (Python ${{matrix.python}}, Airflow ${{matrix.airflow}})

    strategy:
      matrix:
        python:
        - "3.8"
        - "3.9"
        - "3.10"
        airflow:
        - "2.3.1"

    runs-on: ubuntu-latest

    env:
      AIRFLOW_HOME: ./scripts/airflow
      AIRFLOW_VERSION: ${{ matrix.airflow }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-python-${{ matrix.python }}-airflow-${{ matrix.airflow }}-pip-${{ hashFiles('**/requirements*.txt') }}-git-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-python-${{ matrix.python }}-airflow-${{ matrix.airflow }}-pip-${{ hashFiles('**/requirements*.txt') }}
          ${{ runner.os }}-python-${{ matrix.python }}-airflow-${{ matrix.airflow }}-pip-
          ${{ runner.os }}-python-${{ matrix.python }}-
          ${{ runner.os }}-python
          ${{ runner.os }}-

    - name: Upgrade pip
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools wheel
        python -m pip install pytest

    - name: Install environment
      run: |
        bash ./scripts/prepare.sh
        bash ./scripts/install.sh
        pip freeze

    - name: Run tests
      run: bash ./scripts/tests.sh

  all_done:
    name: Tests done
    runs-on: ubuntu-latest
    needs: [tests]

    steps:
      - name: All done
        run: echo 1
